<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
<h1>Bem-vindo ao Sistema</h1>
<p>Escolha uma das opções abaixo:</p>
<ul>
    <li><a href="/formPessoa">Cadastro de Dados Pessoais</a></li>
    <li><a href="/formConversao">Conversão de Dólar</a></li>
</ul>
</body>
</html>
