<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>

<body>

<h1>Resultado da Conversão</h1>

<p th:text="'Valor do Dólar: R$ ' + ${conversao.valorDolar}"></p>
<p th:text="'Quantidade: US$ ' + ${conversao.quantidade}"></p>
<p th:text="'Total em reais: R$ ' + ${conversao.valorConvertido}"></p>


<a href="/formConversao">NOVA CONVERSÃO</a> | <a href="/formPessoa">LINK VOLTAR</a>

</body>
</html>
